.form-block {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.add-user-form {
    display: flex;
    flex-flow: column;
    gap: 18px;
    box-sizing: border-box;
    padding: 30px 35px 50px;
    width: 100%;
    max-width: 525px;
    background: #F8F8F8;
    border: 3px solid #E3A52C;
    border-radius: 24px;
}

.add-user-form__title {
    font: 400 36px/1.25 "Kumbh Sans", sans-serif;
    color: #000000;
}

.add-user-form__inputs {
    display: flex;
    flex-flow: column;
    gap: 42px;
    width: 100%;
}

.add-user-form__input {
    height: 45px;
    border-radius: 3px;
    background: #D9D9D9;
    border: none;
}

.add-user-form__submit {
    align-self: flex-end;
    height: 45px;
    width: 200px;
    background: #E3A52C;
    border: none;
    border-radius: 5px;
    font: 400 14px "Kumbh sans", sans-serif;
}