{% extends "base.html.twig" %}

{% block title %}Каталог{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/store/catalog.css">
{% endblock %}

{% block content %}
    <div class="orders">
        {% for order in orders_list %}
            <div class="orders__order">
                {% include 'store/order_item.html.twig' with order %}
                <div class="order__buttons">
                    <a href="{{ path('show_order', {orderId: order.order_id}) }}" class="order__button">Заказать</a>
                    {% if is_admin %}
                        <form action="{{ path('delete_order', {orderId: order.order_id}) }}" method="post">
                            <button type="submit" class="order__button">Удалить</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if is_admin %}
            <form action="{{ path('create_order') }}" method="get" class="orders__order">
                <span class="order__composition">Добавить новую пиццу</span>
                <button type="submit" class="order__button">Добавить</button>
            </form>
        {% endif %}
    </div>
{% endblock %}