<img src="{{ absolute_url(asset(order.img_path)) }}" alt="pizza" class="order__img">
<span class="order__title">{{ order.name }}</span>
<p class="order__composition">{{ order.composition }}</p>
<span class="order__price">{{ order.price }} руб.</span>