{% extends "base.html.twig" %}

{% block title %}{{ order.order_id }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/store/order.css">
{% endblock %}

{% block content %}
    <div class="order">
        {% include 'store/order_item.html.twig' with order %}
    </div>
{% endblock %}