{% extends "base.html.twig" %}

{% block title %}Users list{% endblock %}

{% block content %}
    <h1>Count of users {{ users_list|length }}!</h1>
    <ul>
        {% for user in users_list %}
            <li>
                <a href="{{ path('show_user', {userId: user.user_id}) }}">{{ user.first_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}