{% extends "auth/auth_base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/auth/sign_up.css">
{% endblock %}

{% block auth_title %}Регистрация{% endblock %}

{% block auth_action %}{{ path('add_user') }}{% endblock %}
{% block auth_method %}post{% endblock %}

{% block auth_content %}
    <input type="text" name="first_name" placeholder="Введите имя" id="first-name" required maxlength="200" class="add-user-form__input">
    <input type="text" name="second_name" placeholder="Введите фамилию" id="second-name" maxlength="200" class="add-user-form__input">
    <input type="email" name="email" placeholder="Email" id="email" maxlength="320" class="add-user-form__input">
    <input type="text" name="phone" placeholder="Введите телефон" id="phone" required maxlength="200" class="add-user-form__input"  >
    <button type="submit" class="add-user-form__submit">Зарегистрироваться</button>
{% endblock %}

{% block auth_link_href %}{{ path('index') }}{% endblock %}
{% block auth_link %}Войти{% endblock %}