{% extends "auth/auth_base.html.twig" %}

{% block title %}Вход{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/auth/sign_in.css">
{% endblock %}

{% block auth_title %}Вход{% endblock %}

{% block auth_action %}{{ path('catalog') }}{% endblock %}
{% block auth_method %}get{% endblock %}

{% block auth_content %}
    <input type="email" name="email" placeholder="Email" id="email" maxlength="320" class="add-user-form__input">
    <button type="submit" class="add-user-form__submit">Войти</button>
{% endblock %}

{% block auth_link_href %}{{ path('sign_up') }}{% endblock %}
{% block auth_link %}Зарегистрироваться{% endblock %}
