{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/auth/auth_base.css">
{% endblock %}

{% block content %}
    <div class="form-block">
        <form action="{% block auth_action %}{% endblock %}" method="{% block auth_method %}{% endblock %}" enctype="multipart/form-data" class="user-form">
            <h2 class="user-form__title">{% block auth_title %}{% endblock %}</h2>
            <div class="user-form__inputs">
                {% block auth_content %}{% endblock %}
            </div>
        </form>
        <a href="{% block auth_link_href %}{% endblock %}">{% block auth_link %}{% endblock %}</a>
    </div>
{% endblock %}