<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/base.css">
    {% endblock %}
</head>

<body class="page">
    {% include 'menu.html.twig' %}
    <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>
